.animatedBorder,
.textbox {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 192px;
  margin: 4px;
  font-size: 24px;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 127, 0);
  pointer-events: none;
}

.animatedBorder {
  display: grid;
  grid-template-columns: 4px 1fr 1fr 4px;
  grid-template-rows: 4px 1fr 4px;
  width: 200px;
  height: 200px;
}

.animatedBorder:hover {
  cursor: pointer;
}

.topRightInner,
.rightInner,
.bottomOuter,
.leftOuter,
.topLeftInner {
  background-color: rgb(191, 0, 0);
}


.bottomInner,
.leftInner {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.topRightInner,
.topLeftInner {
  width: 0%;
  height: 100%;
}

.rightInner {
  width: 100%;
  height: 0%;
}

.topRightOuter {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.rightOuter {
  grid-column: 4 / 5;
  grid-row: 1 / 4;
}

.bottomOuter {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.leftOuter {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.topLeftOuter {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.animatedBorder:hover .topRightInner {
  animation: animateTopRightBorder 0.2s ease-in forwards; 
}

.animatedBorder:hover .rightInner {
  animation: animateRightBorder 0.4s linear 0.2s forwards; 
}

.animatedBorder:hover .bottomInner {
  animation: animateBottomBorder 0.4s linear 0.6s forwards; 
}

.animatedBorder:hover .leftInner {
  animation: animateLeftBorder 0.4s linear 1s forwards;
}

.animatedBorder:hover .topLeftInner {
  animation: animateTopLeftBorder 0.2s ease-out 1.4s forwards; 
}

@keyframes animateTopRightBorder {100% {width: 100%;}}
@keyframes animateRightBorder {100% {height: 100%;}}
@keyframes animateBottomBorder {100% {width: 0%;}}
@keyframes animateLeftBorder {100% {height: 0%;}}
@keyframes animateTopLeftBorder {100% {width: 100%;}}
